In [2]:
import pandas as pd

In [3]:
# Load csv file with all the data
df = pd.read_csv("processed_data.csv")

In [4]:
df.describe()

,height_1,width_1,x_1,y_1,height_2,width_2,x_2,y_2,mouse1_nose_x,mouse1_nose_y,...,mouse2_rightear_x,mouse2_rightear_y,mouse2_leftHip_x,mouse2_leftHip_y,mouse2_rightHip_x,mouse2_rightHip_y,mouse2_tailBase_x,mouse2_tailBase_y,mouse2_tailEnd_x,mouse2_tailEnd_y
count,12542.000000,12541.000000,12560.000000,12564.000000,7550.000000,7550.000000,7597.000000,7562.000000,10428.000000,10428.000000,...,6459.000000,6459.000000,6278.000000,6278.000000,6173.000000,6173.000000,6578.000000,6578.000000,6492.000000,6492.000000
mean,-135.724098,174.654383,223.730537,285.861081,-133.316271,166.593437,255.313061,283.630625,305.031894,205.480858,...,343.827304,193.627317,333.037159,218.140819,348.511086,219.021018,341.798427,227.297151,344.700130,244.096420
std,58.004233,71.841110,110.113560,46.113773,60.812963,73.885491,118.181522,50.069894,144.440295,79.485916,...,134.603249,68.561532,123.032494,55.339666,119.289604,56.216060,114.635387,52.432503,104.761213,56.364139
min,-411.745079,-455.835312,-3.210796,18.144870,-372.891534,-304.378548,-2.108168,16.065419,-0.511878,-5.550384,...,2.348665,-0.688708,45.430314,1.223803,22.172065,-0.464913,64.756117,0.412258,2.716337,0.997905
25%,-161.829604,125.818352,145.494065,254.771658,-163.873810,114.698828,171.572548,251.180063,191.784866,148.654260,...,241.732233,144.418893,243.456401,183.538768,257.824227,185.495468,256.325261,196.425047,267.467485,216.527142
50%,-126.546187,172.802807,208.561902,293.566115,-123.694705,160.925550,250.344326,293.147863,291.765578,216.556143,...,339.269295,202.759347,328.297263,224.124332,348.461424,225.189623,338.824546,232.862735,346.359336,250.474481
75%,-98.635454,221.227049,294.856503,323.166273,-94.043887,215.236057,334.019773,322.911538,403.064693,266.260605,...,451.184388,240.713152,421.174841,257.286480,441.034709,259.331786,425.295426,264.759031,419.517710,284.311111
max,280.427703,426.545316,1049.009646,367.350160,305.500224,512.114850,976.522443,409.364088,1164.495506,359.328660,...,1000.072359,360.092573,1018.626839,355.103799,994.363289,354.789588,1049.313094,359.003609,1062.158503,662.507786

In [5]:
df.head()

,csv_index,file_name,height_1,width_1,x_1,y_1,height_2,width_2,x_2,y_2,...,mouse2_rightear_x,mouse2_rightear_y,mouse2_leftHip_x,mouse2_leftHip_y,mouse2_rightHip_x,mouse2_rightHip_y,mouse2_tailBase_x,mouse2_tailBase_y,mouse2_tailEnd_x,mouse2_tailEnd_y
0,1.0,A_male_in_a_new_cage_face_view_3_2022-08-10_15...,-58.003070,92.601392,309.819097,240.139692,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,A_male_in_a_new_cage_face_view_3_2022-08-10_15...,-133.929059,72.445612,348.037698,234.093237,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,A_male_in_a_new_cage_face_view_3_2022-08-10_15...,-305.492165,255.763708,117.382338,339.519409,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,A_male_in_a_new_cage_face_view_3_2022-08-10_15...,-157.179697,199.190860,169.095386,338.152066,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,A_male_in_a_new_cage_face_view_3_2022-08-10_15...,-125.011190,300.026855,233.399193,338.445964,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN